@using CustomPage.App_LocalResources

<div class="content who">
    <div class="text-container odd" style="height: 100vh;">
        <h2 class="mt40 pt40 text-center">@GlobalRes.about_where_are_we</h2>
    <div style="margin-top: 20px;">
        @GlobalRes.about_where_are_we_content
    </div>
    <img style="margin-top: 45px; margin-bottom: 40px; max-width: 50%; width: 60%; left: 25%;" src="../../Images/wherearewe/location2.jpg" />
</div>
</div>