@using CustomPage.App_LocalResources

<div class="content who" >
    <div class="text-container odd" style="height: fit-content">
        <h2 class="mt40 pt40 text-center">@GlobalRes.about_who_we_are</h2>
        <div style="margin-top: 20px;">
            @GlobalRes.about_who_we_are_intro
        </div>
        <img style="margin-top: 45px; margin-bottom: 40px; max-width: 60%; width: 90%; left: 20%;" src="../../Images/whoweare/Quality-Banner.jpg" />
        <div style="margin-top: 20px; margin-bottom:30px;">
            @GlobalRes.about_who_we_are_content
        </div>
    </div>
</div>